//  COLOR VARS
// $white: #FFFFFF;
// $black: #000000;
$dark-green: #1A6135;
$mid-green: #A4CF5C;
$light-green: #97CF84;
$semi-light-green: #6BAE59;
$mid-grey:#80878D;
$semi-grey: #D5D5D5;
$light-grey: #F4F4F4;
// FONT FAMILIES
$ff-muli: 'Muli';
$ff-fa: 'FontAwesome';

$rgb-box-shadow-color: rgba(139, 136, 136, 0.7);

// General Variables

// $body-bg-color:#FFFFFF;
$base-color: $mid-grey;

$nav-dd-bg: #F4F4F4;

$footer-color: #fff;
// $content-color: inherit;

// $base-font: $ff-muli, sans-serif;
// $base-font-size: 18px;
// $base-line-height: 28px;

// $anchor-color: $dark-green;
// $anchor-hover-color: $semi-light-green;
// $anchor-font-weight: 400;

// $heading-font:$base-font;
// $heading-font-weight: 400;

// $form-control-bg-color: #FFFFFF;
// $form-control-border-color: #E4E2E2;

// $graphics-dir-path: '../../graphics/' !default;
// $fonts-dir-path: '../fonts/' !default;

//*****************************************************************************
//*****************************************************************************

// $ff-muli: 'Muli';

$ff-notosans: 'Noto Sans', sans-serif;
$ff-notoserif: 'Noto Serif', serif;



/**************************************/
// island font, color
$ff-roboto: 'Roboto', sans-serif;
$ff-opensans: 'Open Sans', sans-serif;
$ff-merriweather: 'Merriweather', serif;//may not use it
$ff-fa: 'FontAwesome';
// island color
$dark-blue: #003752;
$blue: #005E8D;
$light-blue: #008ED3;
$heading-blue:#0054A5;
$grey: #95989A;
$light-grey:#F5F5F5;
$white: #FFFFFF;
$black: #000000;
$orange:#FF9E21;
$dark-orange:#CE7F1A;
$grey-text-ghostbtn:#9F9F9F;
$heading-font:$ff-roboto;
$heading-font-weight: 400;
$body-text-grey: #535353;
$email-bg-blue:#426B7F;




//theme2 vars
$light-orange:#EF9633;
$green-blue:#367088;
$heading-black:#000000;
$light-green-blue:#a9c2cc;

//theme3 vars
$light-red:#AC0D0D;
$red:#740B0B;
$bg-grey:#585858;
$dark-green-blue:#000E33;
$bg-email-grey:#a6a6a6;

//theme global

//t1

$btn-bgcolor-nav:$light-blue;
$btn-bgcolor-hov-nav:$blue;
$h-ffcolor-intro:$heading-blue;
$bg-bgcolor-footer-top: $dark-blue;
$bg-bgcolor-footer-mid: $blue;
$email-bgcolor-footer-mid:$email-bg-blue;
$pika-date-picker-color:$light-blue;


//t2
/*
$btn-bgcolor-nav:$light-orange;
$btn-bgcolor-hov-nav:$dark-orange;
$h-ffcolor-intro:$heading-black;
$bg-bgcolor-footer-top: $green-blue;
$bg-bgcolor-footer-mid: $heading-black;
$email-bgcolor-footer-mid:$light-green-blue;
*/


/* t3
$btn-bgcolor-nav:$light-red;
$btn-bgcolor-hov-nav:$red;
$h-ffcolor-intro:$heading-black;
$bg-bgcolor-footer-top: $bg-grey;
$bg-bgcolor-footer-mid: $dark-green-blue;
$email-bgcolor-footer-mid:$bg-email-grey;
*/

/**************************************/



//  new vars
$light-brown: #A68435;
$dark-brown: #5B4B25;

$background-grey: #F5F5F5;
$border-grey: #E3E3E3;
$form-border-grey: #D8D8D8;




$body-bg-color:#FFFFFF;
$base-color: $white;


$nav-dd-bg: #FFFFFF;

$content-color: black;

$base-font: $ff-notosans , sans-serif;
$base-font-size: 14px;
$base-line-height: 22px;

$anchor-color: $dark-brown;
$anchor-hover-color: $light-brown;
$anchor-font-weight: 400;



$form-control-bg-color: #FFFFFF;
$form-control-border-color: $form-border-grey;

$graphics-dir-path: '../../graphics/' !default;
$fonts-dir-path: '../fonts/' !default;
