<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>==title==</title>
    <meta name="description" content="==mdescr==">
    ==ex_meta_taga==
    <meta name="author" content="==company==">
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
    <meta http-equiv="cleartype" content="on">
    <meta property="og:title" content="==og_title=="/>
    <meta property="og:description" content="==mdescr=="/>
    <meta property="og:url" content="==og_url=="/>
    <meta property="og:image" content="==og_image=="/>
    <meta property="og:site_name" content="==company=="/>
    <link rel="shortcut icon" href="==favicon_path==">
    <link rel="stylesheet" href="==css_path==">
    <link href="==webfont_import==" rel="stylesheet">
    <script  src="==modernizr_path=="></script>

    ==webfont_headings==
    ==webfont_text==
    ==js_code_head_close==
    ==page_js_code_head_close==
  </head>
  <body==body_cls==>
    ==js_code_body_open==
    ==page_js_code_body_open==
    ==body_html==

    <!-- mob company logo -->
    <div class="container">
       <div class="row">
          <div class="col-xs-12 hidden-sm hidden-md hidden-lg"> <!--company logo for phone device view-->
            ==company_logo==
          </div>
      </div>
    </div>
    <header>
      <div class="container-fluid">
        <div class="row">
          <div class="col-xs-12">
            <div class="nav-toggle">
                <i class="fa-bars fa"></i>
            </div>
            ==phone_icon_view==
            <div class="hidden-lg">
              <div class="nav-booking"> <!--booking button for phone device view-->
                ==booking-btn==
              </div>
            </div>
          </div>
          <div class="hidden-xs"> <!--company logo for large device view-->
            ==company_logo==
          </div>
          <div class="col-xs-12 header-container">
            <div class="header-items">
              ==nav-main==
              <div class="nav-booking hidden-xs hidden-sm hidden-md"> <!--booking button for large device view-->
                ==booking-btn==
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>

    ==slideshow_view==
    <main id="main">
      ==sub_nav_view==
      <section class="intro">
        <div class="container-fw">
          <div class="row">
            <div class="col-xs-12 text-center">
              <div class="main__intro">
                <span class="motif"></span>
                <h1 class="main__intro--heading">==heading==</h1>
                ==sub-heading==
                <p class="main__intro--desc">==introduction==</p>
              </div>
            </div>
          </div>

          ==accom_room==
          <div class="content">

            ==content==
          </div>
        </div>
      </div>
    </section>
    ==mod_view==
    ==accommodation_view==
    ==map_view==
    ==gallery_view==
    </main><!-- #main -->
    <footer>
      <div class="footer__top">
        <div class="container-fw">
          <div class="row">
            <div class="col-sm-6 col-xs-12">
              <div class="reviews">
                ==testimonial_view==
              </div>
            </div>
            <div class="col-sm-6 hidden-xs">
              <div class="sign-up">
                ==newsletter_view==
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="footer__mid">
        <div class="container-fw">
          <div class="row">
            <div class="col-xs-12 hidden-sm hidden-md hidden-lg">
              <div class="social-links">
                <h2>Connect with us</h2>
                ==social==
              </div>
            </div>
            <div class="col-sm-4 col-xs-12">
              <div class="contact-info">
                <h2>Contact us</h2>
                <p>==phone_number==</p>
                <p>==company_email_address==</p>
              </div>
            </div>

            <div class="col-sm-4 hidden-xs">
              <div class="social-links">
                <h2>Connect with us</h2>
                ==social==
              </div>
            </div>

            <div class="col-sm-4 col-xs-12">
              <div class="copyright-credit">

                <p>==copyright==</p>
                <p>==credits==</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="footer__bot">
        <div class="container-fw">
          <div class="row">
            <div class="col-xs-12">
              <div class="partner-logo">
                ==partnerlogos==
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="footer__nav">
        <div class="container-fluid footer-nav-bar">
          <div class="row">
            <div class="col-xs-12">
              ==footer_nav==
            </div>
          </div>
        </div>
      </div>
    </footer>
    ==body_view==
    ==scripts-load-top==
    ==jsVars==
    <script src="==vender_js_path=="></script>
    ==script-ext==
    <script async src="==js_path==" onload="app.init();"></script>
    ==js_code_body_close==
    ==page_js_code_body_close==
  </body>
</html>
